
<div>
    <div>
        <h3 class="text-center">Reset password successful!</h3>

        <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewBag.ReturnUrl">Go back to sign in</a>
    </div>
</div>  




