<div >
    <h3>Oops! It looks like this password reset link has expired.</h3>
    <p>
        Please request a new one to reset your password.
    </p>
  
    <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewBag.ReturnUrl">Go back to sign in</a>
</div>

